body {
    font-family: sans-serif;
}
fieldset.main {
    width: fit-content;
    float: left;
}
canvas {
    display: block;
    margin: 10px auto;
    max-width: 60vw;
}
input[type="number"] {
    width: 40px;
}